footer {
  width: 100%;
  min-height: 200px;
  background-color: #232526;
  -webkit-box-shadow: 2px 14px 17px -7px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 14px 17px -7px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 14px 17px -7px rgba(0, 0, 0, 0.2);
  color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 30px;
  padding: 30px;
  position: relative;
    bottom:0;
    left:0;
}

footer div,
footer p {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 600;
  margin-left: 14px;
}

footer p {
  font-size: 0.7em !important;
  font-weight: 400;
}
