header {
  height: 80px;
  width: 100%;
  -webkit-box-shadow: 2px 14px 17px -7px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 14px 17px -7px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 14px 17px -7px rgba(0, 0, 0, 0.2);
  padding: 4%;
  display: flex;
  align-items: center;
  background-color: #232526;
  display: flex;
  justify-content: space-between;
  z-index: 999 !important;
  position: relative;
}

.logo {
  width: 36px;
  object-fit: cover;
  margin-right: 1rem;
}

.name-company {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  font-size: 1.3em;
  color: #f2b950;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
  header {
    height: 56px;
  }

  .menu{
    font-size: 0.9em;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
  .logo{
    width: 46px;
    
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
  header {
    height: 76px;
    padding: 20px;
  }

  .logo{
    width: 46px;
    
  }

  .menu{
    font-size: 1.1em;
  }
}